<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332226510123-8lhfnpia9ac4amd6mmurc48k4f4hhf40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332226510123-8lhfnpia9ac4amd6mmurc48k4f4hhf40</string>
	<key>API_KEY</key>
	<string>AIzaSyCa4b2SqXPFYCp8CBT3ZP9pA9niINbFCZA</string>
	<key>GCM_SENDER_ID</key>
	<string>332226510123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.vento</string>
	<key>PROJECT_ID</key>
	<string>image-storage-ad813</string>
	<key>STORAGE_BUCKET</key>
	<string>image-storage-ad813.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332226510123:ios:f00b5dc6f0eaa4488ed96e</string>
	<key>DATABASE_URL</key>
	<string>https://image-storage-ad813-default-rtdb.firebaseio.com</string>
</dict>
</plist>